@media (max-width: 1200px) {
   
}

@media (max-width: 991px) {
    .promo {
        padding: 21px 50px 93px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .advantages {
        padding: 69px 50px 81px;
    
        &__item {
            max-width: 210px;
        }
    } 

    .consultation {
        &__descr {
            text-align: center;
        }
        .title_left {
            text-align: center;
        }
        .feed-form {
            margin: 36px auto 0;
        }
    }
    .carousel {
        padding-bottom: 25px;
    }
    .feed {
        &__item {
            padding: 0px 40px;
        }
    }
    .footer {
        height: 500px;
        &__info {
            width: 341px;
            height: 200px;
            padding: 42px 44px 42px;
        }
        &__addr {
            margin-bottom: 14px;
            font-size: 16px;
        }
        &__phone {
            margin-bottom: 20px;
            font-size: 18px;
        }
        &__social {
            &-item {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
        &__phone {
            font-size: 17px;
        }
        .button {
            width: 148px;
            height: 36px;
            font-size: 13px;
        }
    }
    .promo {
        padding: 21px 30px 93px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
            margin-bottom: 0px;
        }
        .button_main {
            width: 225px;
            height: 42px;
            font-size: 14px;
        }
        &__link {
            a {
                font-size: 12px;
            }
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 40px;
            max-width: 418px;
        }
        .title {
            margin-bottom: 0px;
            font-size: 27px;
        }
        &__subtitle {
            margin-top: 20px;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
            margin-top: 50px;
        }
        .title_left {
            text-align: center;
            font-size: 27px;
        }
        .feed-form {
            margin: 36px auto 0;
            input {
                height: 40px;
                width: 270px;
                margin: 0 auto 15px;
            }
        }
        .button_submit {
            width: 225px;
            height: 42px;
            font-size: 14px;
            margin: 5px auto 0;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__phone {
            font-size: 12px;
        }
        .button {
            width: 105px;
            height: 25px;
            font-size: 10px;
        }
        &__logo {
            img {
                width: 90%;
            } 
        }
    }
    .promo {
        &__header {
            text-align: center;
            font-size: 29px;
        }
        &__subheader {
            text-align: center;
            font-size: 16px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 100px 0;
        }
        &__icon {
            display: flex;
            margin-bottom: 20px;
            width: 100%;
            img {
                margin: 0 40px 0 0;
                margin-bottom: 0;
                width: 35px;
                height: 40px;
            }
        }
        .button_main {
            margin-top: 50px;
            width: 185px;
            height: 40px;
            font-size: 12px;
        }
        &__wrapper {
            margin-top: 70px;
        }
    }
    .advantages {
        &__item {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
        }
        .title {
            font-size: 20px;
        }
    }
    .consultation {
        min-height: 500px;
        .title_left{
            display: none;
        }
        &__descr {
            padding: 0 27px;
            margin-top: 0px;
            font-size: 16px;
        }
        .feed-form {
            input {
                width: 200px;
                height: 40px;
            }
        }
        .button_submit {
            width: 185px;
            height: 40px;
            font-size: 12px;
        }
    }
}